.local__formulario{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    width: 100vw;

}

hr{
    width: 59vw;
    background-color: #005EF2;
    padding: 0.1rem;
    margin: 0.5rem 0 0.4rem;
    border: 1px solid #005EF2;
}

.abrir__chamado__titulo{
    font-size: 24px;
    font-family: 'roboto', sans-serif;
    text-transform: uppercase;
    color: #005EF2;
    font-weight: 700;
    justify-content: left;
    margin-bottom: 2rem;
    margin-top: 2rem;
}


.principal__abrir__chamado{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;

}

.opcoes__chamado{
    display: flex;
    align-items: left;
    flex-direction: column;
    background-color: #EEEEEE;
    width: 51vw;
    height: 12vh;
    margin-bottom: 2rem;
    padding: 1rem 0.5rem 1rem 0.5rem;

}

.titulo__formulario{
    font-family: 'roboto', sans-serif;
    display: flex;

}

.input__mapa{
    width: 30vw;
    border-radius: 0;
}

.input__numero{
    width: 3vw;
    border-radius: 0;
}

.input__cidade{
    width: 12vw;
    border-radius: 0;
}

.input__endereco{
    width: 32vw;
    border-radius: 0;
}

.input__bairro{
    width: 16vw;
    border-radius: 0;
}

.input__cep{
    width: 12vw;
    border-radius: 0;

}

.input__estado{
    width: 24vw;
    border-radius: 0;
}
.input__referencia{
    width: 16vw;
    border-radius: 0;

}

.input__ocorrido{
    width: 28vw;
    border-radius: 0;

}

.form__endereco{
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    grid-template-columns: 75%;
    background-color: #EEEEEE;
    width: 50vw;
    padding: 1rem;
}

.formulario__botao{

    font-weight: 700;
    border: none;
    background-color: #EEEEEE;
    margin: 5rem;
    padding: 2rem;
}

.formulario__botao:hover{
    border-color: rgb(0, 0, 0);
    border-radius: 45px;
    color: #FFFFFF;
    background-color: #005EF2;
    transition: 1s;
}

form{
    display: inline-grid;
    flex-direction: row;
    text-align: flex-end;
    flex-wrap: nowrap;
    grid-template-columns: 1fr;
    align-content: center;

}
   /*




    .Local{
        display: flex;
        justify-content: initial;
        align-items: flex-start;

        color: #005EF2;
        font-family: 'roboto', sans-serif;
        font-weight: 700;
        font-size: 1.2rem;
        padding-bottom: 1;
        margin-right: 57rem ;

    }

    .localformulario{
        display: flex;

    }

    .Forms_1_2{
        background-color: #EEEEEE;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: black;

        width: 40%;
        margin: 0.2rem 27.6rem 0 0;
        padding: 1rem 0.5rem 0 0.5rem;
    }

    p{
        color: black;
        text-align: flex start;
        justify-content: center;
        padding: 1rem 0 0 0;
    }

    .Form_3{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background-color: #EEEEEE;
        color: black;

        height: 40vh;
        width: 40vw;
        text-align: left;
        justify-content: center;
        align-items: flex-start;

    }


    h3, h4{
        justify-content: flex-start;
        margin: 0.5rem 0 0 3rem;

    }

*/