@import url(   'styles.css');
.principal-sobre{
    width: 100%;
    height: 100vh;

    background-image: url("../assets/background.svg") ;
    background-repeat: no-repeat;
    background-size:  cover; /* Faz a imagem cobrir todo o elemento */
    background-position: center; /* Centraliza a imagem */

    display: grid;
    grid-template-columns: 50% 50% 50% 50%; /* Três colunas de largura igual */
    
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.sobre-conteudo{
    width: 50%;
    grid-column: 2 / 3; /* Ocupa uma coluna */
    margin: 0 20% 0 20%;
}

.dispositivo-img{
    width: 100%;
    align-items: center;
}

.sobre-titulo{
    font-family: 'roboto';
    text-transform: uppercase;
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;

    text-align: center;
    padding-bottom: 2%
}

.sobre-texto{
    font-family: 'roboto';
    color: #ffffff;
    font-size: 1.5rem;
    text-align: justify;
}

/* CSS das caixas de integrantes*/

.container-integrantes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;

    margin: 0 10% 10% 10%;
}
.integrante{
    background-color: #6494FF;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
    width: 30% ;
    height: 60vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 1%;
    
}


.integrante-img{
    width: 60%;
    padding-bottom: 10%;
    align-items: center;
    text-align: center;
}

.social-media-sobre{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    padding-top: 15% ;
}

.social-media-img{
 margin: 0 5% 0 5%;   
 flex-wrap: wrap;
}



.integrantes-conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    margin-bottom: 5%;
}

.integrante-titulo{
    font-family: 'roboto';
    
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;

    text-align: center;
    padding-bottom: 2%
}


strong{
    color: #002359;
    
}

.integrante-texto{

    font-family: 'roboto';
    
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
    padding: 5% 10% 0 10%;
}